<ul class="no-bullets clearfix">
	<li><img src="http://lorempixel.com/250/175/nature" alt="Sample photo"></li>
	<li><img src="http://lorempixel.com/250/175/nature" alt="Sample photo"></li>
	<li><img src="http://lorempixel.com/250/175/nature" alt="Sample photo"></li>
	<li><img src="http://lorempixel.com/250/175/nature" alt="Sample photo"></li>
	<li><img src="http://lorempixel.com/250/175/nature" alt="Sample photo"></li>
	<li><img src="http://lorempixel.com/250/175/nature" alt="Sample photo"></li>
	<li><img src="http://lorempixel.com/250/175/nature" alt="Sample photo"></li>
	<li><img src="http://lorempixel.com/250/175/nature" alt="Sample photo"></li>
	<li><img src="http://lorempixel.com/250/175/nature" alt="Sample photo"></li>
	<li><img src="http://lorempixel.com/250/175/nature" alt="Sample photo"></li>
	<li><img src="http://lorempixel.com/250/175/nature" alt="Sample photo"></li>
	<li><img src="http://lorempixel.com/250/175/nature" alt="Sample photo"></li>
</ul>
